<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="en">
  <head>
    <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
  {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'diagram/style.css' %}">
  {% block style %}
    <link rel="stylesheet" type="text/css" href="{% static "fontawesome/css/all.min.css" %}" />
  {% endblock %}
    <title>UoE module diagram</title>
  </head>
  <body>

    {% if table_data %}
      <div class="div_table">
      {% for department in table_data %}
        <div class="department" style="{{department.1}}">
        {% for column in department.0 %}
          <div class="column">
          {% for row in column %}
            <div class="cell">
            {% for wrapper in row %}
              <div class="wrapper">
                {% for module in wrapper %}
                    {% if module.1 == 0 %}

                      <table class="module_T1">
                        <tbody>
                          <tr>
                            <td class="module_name">{{module.0}}</td>
                          </tr>
                          <tr>
                            <td class="details_link"><i class="fa fa-info-circle" aria-hidden="true"></i> Details</td>
                          </tr>
                        </tbody>
                      </table>

                    {% elif module.1 == 0.5 %}

                    <table class="module_T1_2">
                      <tbody>
                        <tr>
                          <td class="module_name">{{module.0}} </td>
                        </tr>
                        <tr>
                          <td class="details_link"><i class="fa fa-info-circle" aria-hidden="true"></i> Details</td>
                        </tr>
                      </tbody>
                    </table>

                    {% elif module.1 == 1 %}

                    <table class="module_T2">
                      <tbody>
                        <tr>
                          <td class="module_name">{{module.0}}</td>
                        </tr>
                        <tr>
                          <td class="details_link"><i class="fa fa-info-circle" aria-hidden="true"></i> Details</td>
                        </tr>
                      </tbody>
                    </table>

                    {% elif module.1 == 2 %}

                    <table class="module_T3">
                      <tbody>
                        <tr class="module_name">
                          <td>{{module.0}}</td>
                        </tr>
                        <tr>
                          <td class="details_link"><i class="fa fa-info-circle" aria-hidden="true"></i> Details</td>
                        </tr>
                      </tbody>
                    </table>

                    {% elif module.1 == -1 %}

                      <div class="Spacer">
                      </div>

                    {% endif %}
                {% endfor %}
              </div>
            {% endfor %}
            </div>
          {% endfor %}
          </div>
        {% endfor %}
        </div>
      {% endfor %}
      </div>
    {% else %}
        <p>No modules are available.</p>
    {% endif %}
  </body>
</html>
