body{

  font: 16px Arial, sans-serif;

  line-height: 1.6em;

  margin:0;
}

td{
  font: 14px Arial, sans-serif;
  background-color: rgb(255, 255, 255);
}

.credits {
  position: fixed;
  right: 0px;
  top: 25.6px;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 5px 10px;
  max-width: 310;
  text-align: center;
}

.deniedDiv{
  margin-top: 5px;
  margin-bottom: 5px;
}

.deniedDiv p{
  color: red;
  margin: 0;
}
.deniedDiv span{
  font-weight: bold;
}

.warningDiv p{
  color: #e66f00;
  margin: 0;
}
.warningDiv span{
  font-weight: bold;
}

.weirdDiv p{
  color: #a22a7a;
  margin: 0;
}
.weirdDiv span{
  font-weight: bold;
}

.div_table {
  display: flex;
  flex-direction: row;
}

.years_column {
  display: flex;
  flex-direction: column;
  border: 3px black solid;
  background-color: black;
}

.first_cell {
  display:flex;
  height: 298px;
  min-width: 30px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: 3px;
  border-color: black;
  color: white;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.department{
  display: flex;
  flex-direction: column;
}

.dept_name{
  background-color: black;
  color: white;
  font-weight: bold;
  text-align: center;
}

.dept_modules{
  display: flex;
  flex-direction: row;
  border-right: 3px black solid;
  border-left: 3px black solid;
}

.column {
  display: flex;
  flex-direction: column;
  border-left-style: solid;
  border-right-style: solid;
  border-width: 1px;
  border-color: #00000050;
}

.cell {
  display:flex;
  height: 300px;
  min-width: 140px;
  border-bottom-style: solid;
  border-width: 3px;
  border-color: black;
  flex-direction: row;
}

.wrapper {
  display:flex;
  height: 100%;
  width: 140px;
  flex-direction: column;
}

.module_box{
  background-color: #CAC8C0;
  width: 140px;
  border-spacing: 10px;
  text-align: center;
}

.module_box.selected{
  background-color: #31cc56;
  }

.module_T1{
  height: 100px;
}

.module_T1_2{
  height: 200px;
}

.module_T1_2_3{
  height: 300px;
}

.module_T2{
  height: 100px;
}

.module_T2_3{
  height: 200px;
}

.module_T3{
  height: 100px;
}

.module_name{
  font: 12px Arial, sans-serif;
  cursor: pointer;
}

.warning td{
  background-color: #eb9947;
}

.denied td{
  background-color: #ff8080;
}

.weird td{
  background-color: #e085c2;
}

.details_link{
  height: 20px;
}

.spacer{
  width: 140px;
  height: 100px;
}
