body{

  font: normal 12px Arial, Helvetica, sans-serif;

  line-height: 1.6em;

  margin:0;
}


.table {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.cell {
  display:flex;
  height: 240px;
  min-width: 130px;
  border: 1px black solid;
  flex-direction: row;
}

.wrapper {
  display:flex;
  height: 240px;
  width: 130px;
  box-sizing: border-box;
  flex-direction: column;
  align-self: center;
}

.module_T1{
  background-color: #3399ff;
  width: 130px;
  height: 80px;
  border: 3px green solid;
  box-sizing: border-box;
  align-self: center;
}

.module_T1_2{

  background-color: #3399ff;
  width: 130px;
  height: 160px;
  border: 3px red solid;
  box-sizing: border-box;
  align-self: flex-start;
  justify-content: flex-start;
}

.module_T2{

  background-color: #3399ff;
  width: 130px;
  height: 80px;
  border: 3px blue solid;
  box-sizing: border-box;
  align-self: center;
  justify-content: center;
}

.module_T3{

  background-color: #3399ff;
  width: 130px;
  height: 80px;
  border: 3px pink solid;
  box-sizing: border-box;
  align-self: flex-end;
}

.spacer{
  width: 130px;
  height: 80px;
}
